@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

.body{
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}

.table{
  margin: 1rem auto;
  width: 900px;
  height: 600px;
  overflow-y: scroll;
  overflow-x: scroll;
}
.shimmer{
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  text-align: center;
  font-weight: bold;
}

.table-heading{
  font-size: 2rem;
  font-weight: 800;
  text-align: center;
  margin: 2rem auto;
  background: linear-gradient(to right, #ff6b6b, #ffa726);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
/* remove to add padding on small screen */


/* @media(min-width:320px){
  .table{
    padding: 0 4rem;
  }
}
@media(min-width:769px){
  .table{
    padding: 0 0;
  }
} */

